<div class="list row">
  <div class="col-md-6">
    <h4>Lista de Productores</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let producer of producers; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveProducer(producer, i)"
      >
        {{ producer.username }}
      </li>
    </ul>

    <div class="row my-2">
      <div class="col-4 text-center">
        <a routerLink="/add" class="btn btn-lg btn-primary text-ligth">
          Nuevo
        </a>
      </div>

      <div class="col text-center">
        <button
          class="btn btn-lg btn-danger text-ligth"
          (click)="removeAllProducers()"
        >
          Eliminar Registros
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <app-producer-details
      [viewMode]="true"
      [currentProducer]="currentProducer"
    ></app-producer-details>
  </div>
</div>
